#wrapper {
	width: 100%;
	height: 1200px;
	overflow: hidden;
}

#wrapper2 {
	padding-top: 5px;
	width: 92%;
	height: 25px;
	overflow: hidden;
}

#wrapper3 {
	padding-top: 20px;
	padding-bottom: 10px;
	width: 92%;
	height: 25px;
	overflow: hidden;
}

#reklama {
	height: 100%;
}

#site {
	width: 1050px;
	height: 100%;
	float: left;
}

#advert {
	margin-top: 250px;
}

#logo {
	height: 150px;
	align-self: right;
	
}

#logoholder{
	height: 400px;
	border-bottom: solid;
	border-width: 2px;
}

#loginHolder {
	padding-left: 20px;
	width: 700px;
	float: left;
}

#registerHolder {
	padding-right: 20px;
	float: right;
	height: 100%;
}

#LoginField {
	padding-left: 20px;
}

#Holder {
	padding-left: 20px;
	width: 500px;
	float: left;
}

#SearchField {
	padding-left: 20px;
}

#ButtonHolder {
	padding-right: 20px;
	float: right;
	height: 100%;
}

#NewAdvertLabel {
	display: inline-block;
	width: 92%;
	height: 5%;
	border:solid;
	border-radius: 1px;
}

.ad > img {
	float: left;
}

.price {
	clear: both;
}

.ad {
	display: inline-block;
	padding: 10px;
}

#RegField {
	display: inline-block;
	width: 92%;
	height: 40%;
	border:solid;
	border-radius: 1px;
	margin-top: 10px;
}

#RUinput {
	height: 30px;
	width: 325px;
	color: #B3B6B9;
	text-indent: 10px;
	margin-left: 5px;
}

#RUlabel {
	transform: translateY(20px);
	margin-top:15px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 50%;	
}

#RUlabelFirst {
	transform: translateY(20px);
	margin-top:60px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 50%;
}

#RUlabel > input {
	float: right;
}

#RUlabelFirst > input {
	float: right;
}
