#wrapper {
	width: 100%;
	height: 1200px;
	overflow: hidden;
}

#wrapper2 {
	padding-top: 5px;
	width: 92%;
	height: 25px;
	overflow: hidden;
}

#wrapper3 {
	padding-top: 20px;
	padding-bottom: 10px;
	width: 92%;
	height: 25px;
	overflow: hidden;
}

#reklama {
	height: 100%;
}

#site {
	width: 1050px;
	height: 100%;
	float: left;
	
}

#advert {
	margin-top: 250px;
}

#logo {
	height: 150px;
	align-self: right;
	
}

#logoholder{
	height: 400px;
	border-bottom: solid;
	border-width: 2px;
}

#ProfileHolder {
	padding-left: 40px;
	width: 700px;
	float: left;
}

#registerHolder {
	padding-right: 20px;
	float: right;
	height: 100%;
}

#LoginField {
	padding-left: 20px;
}

#Holder {
	padding-left: 40px;
	width: 450px;
	float: left;
}

#SearchField {
	padding-left: 20px;
}

#ButtonHolder {
	padding-right: 20px;
	float: right;
	height: 100%;
	
}

#NewAdvertLabel {
	display: inline-block;
	width: 92%;
	height: 5%;
	border:solid;
	border-radius: 1px;
}


#phone{


width:60%;
height:10%;
margin-top:30px;

}

#inf{

background-color:D8CECE;

width:87%;
height:25%;
margin-left:40px;
border:solid
}

#confirm {

float:right;
margin-right:97px;

}

#scale{


width:40%;

float:right;
margin-right:70px;

}

p{

margin-left:40px;
}


h1{
 
margin-left:40px;


}

#pass{
margin-left:40px;

}


#name{

margin-left:40px;
border:solid;
width:50%;
height:6%;

}




#address{

border:solid;
width:46%;
}



#phone{

border:solid;
margin-left:40px;
}


#personalsite{
width:46%;
border:solid;
margin-left:40px;

}
